.app {
  width: 640px;

  display: grid;
  grid-template-columns: repeat(4, var(--card-size));
  grid-template-rows: repeat(4, var(--card-size));
  /* grid-auto-rows: 160px; */
  justify-items: center;
  align-items: center;
  justify-content: center;

  gap: var(--gap-size);
}
