.app {
  width: 640px;

  display: grid;
  grid-template-columns: repeat(4, 160px);
  grid-template-rows: repeat(3, 160px);
  grid-auto-rows: 160px;
  justify-items: center;
  align-items: center;
  gap: 20;
}
