@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --card-size: 140px;
  --background-color-dark: rgb(236, 126, 0);
  --background-color-light: rgb(255, 198, 93);
  --main-color-dark: rgb(0, 56, 70);
  --main-color-light: rgb(0, 162, 211);
  --card-border-color: #f1f1f1;
}

html {
  box-sizing: border-box;
}

body {
  font-family: Nunito, sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(
    to top,
    var(--background-color-dark),
    var(--background-color-light)
  );
}
